@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <img src="@Url.Content("~/Content/img/banner.jpg")" class="img-responsive"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h1 style="text-align:center;">Điện máy quyết tiến</h1>
       
    </div>
</div>