@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <img src="@Url.Content("~/Content/img/banner.jpg")" class="img-responsive"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Điện máy quyết tiến</h2>
       
    </div>
</div>