<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Điện máy Quyết tiến Store</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap1.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <img src="~/Content/Logo_QT.png" style="width:80px;height:50px;"/><a class="navbar-brand" href="index.html">Quyết Tiến Store Admin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản lý sản phẩm">
                    <a class="nav-link" href="/Admin/ProductAdmin">
                        <i class="fa fa-fw fa-server"></i>
                        <span class="nav-link-text">Quản lý sản phẩm</span>
                    </a>
                </li>
                

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản lý tài khoản Người dùng">
                    <a class="nav-link" href="/Admin/UserAdmin">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Quản lý tài khoản người dùng</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản lý loại sản phẩm">
                    <a class="nav-link" href="/Admin/ProductTypeAdmin">
                        <i class="fa fa-fw fa-list-ol"></i>
                        <span class="nav-link-text">Quản lý loại sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản lý quảng cáo">
                    <a class="nav-link" href="/Admin/AdsAdmin">
                        <i class="fa fa-fw fa-bullhorn"></i>
                        <span class="nav-link-text">Quản lý quảng cáo</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản lý hóa đơn">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">Quản lý hóa đơn</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a class="nav-link" href="/Admin/CashBillAdmin">
                                <i class="fa fa-fw fa-money"></i>
                                <span class="nav-link-text">Hóa đơn tiền mặt</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/Admin/InstallmentBillsAdmin">
                                <i class="fa fa-fw fa-money"></i>
                                <span class="nav-link-text">Hóa đơn trả góp</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-left:20px;">
                   
                        @if(Session["Username"] != null) { 
                            <p style="color:white;"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Welcome @Session["Username"].ToString() | <a href="@Url.Action("LogOut","LoginAdmin")"><i class="fa fa-fw fa-sign-out"></i>Logout</a></p>
                        }
                       
      
                   
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">

        @RenderBody()
       
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © YoBros Website 2019</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/jquery.easing.min.js"></script>
        <script src="~/Scripts/jquery.dataTables.js"></script>
        <script src="~/Scripts/dataTables.bootstrap4.js"></script>
        <script src="~/Scripts/sb-admin.min.js"></script>
        <script src="~/Scripts/sb-admin-datatables.min.js"></script>
        @RenderSection("Scripts",required:false)
    </div>
</body>
</html>
