<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Front-End/store.ico" rel="icon">
    <meta name="author" content="">
    <meta name="keywords" content="Điện máy Quyết Tiến">
    <meta name="description" content="Công ty cổ phần TNHH Điện máy Quyết Tiến">
    <title>Cửa hàng Điện máy Quyết Tiến</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLibre+Baskerville:400,700"
          rel="stylesheet">
    <link rel="stylesheet" href="~/Front-End/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/furniture-icon/style.css">
    <link rel="stylesheet" href="~/Front-End/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Front-End/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="~/Front-End/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="~/Front-End/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Front-End/plugins/lightGallery-master/dist/css/lightgallery.min.css">
    <link rel="stylesheet" href="~/Front-End/css/style.css">
</head>
<body>
    <div class="header--sidebar"></div>
    <!--  Header-->
    <header class="header" data-sticky="true">
        <div class="header__top">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                        <p>Cơ sở 3 Trường ĐH Văn Lang University  -  Hotline: 113</p><i class="furniture-market"></i>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="header__actions"><a href="#">Đăng nhập || Đăng ký</a></div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigation">
            <div class="ps-container">
                <a class="ps-logo" href=""><img src="~/Front-End/images/logo.png" alt=""></a>
                <ul class="main-menu menu">
                    <li class="current-menu-item menu-item-has-children"><a href="index">Trang chủ</a></li>
                    <li><a href="Contact">Liên hệ chúng tôi</a></li>
                    <li class="menu-item-has-children"><a href="Tintuc">Tin tức</a></li>
                </ul>
                <div class="menu-toggle"><span></span></div>
                <div class="ps-cart">
                    <a class="ps-cart__toggle" href="#"><span><i>20</i></span><img src="~/Front-End/images/market.svg" alt=""></a>

                </div>
                <form class="ps-form--search" action="#" method="post" style=" "><i class="furniture-search">
                    </i>
                    <input class="form-control" type="text" placeholder="Tìm sản phẩm">
                    <button>Tìm</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="ps-hero bg--cover" data-background="/Front-End/images/hero/bread-1.jpg">
        <div class="ps-container">
            <h3>Tin tức</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="index">Trang chủ</a></li>
                    <li class="active">Tin tức</li>
                </ol>
            </div>
        </div>
    </div>


    <main class="ps-main">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail">
                            <a class="ps-post__overlay" href="#"></a><img src="~/Front-End/images/blog/picture1.png" alt="">
                        </div>
                        <div class="ps-post__content">
                            <div class="ps-post__meta">
                                <div class="ps-post__posted"><span class="date">25</span><span class="month">Dec</span></div>
                            </div>
                            <div class="ps-block__container">
                                <h3 class="ps-post__title"><a href="#">Mua ngay máy giặt Samsung online tặng thêm voucher đến 600.000đ từ 28/11 đến 30/11/2018</a></h3>
                                <div class="ps-post__byline">By <a href="#">YoBros</a></div>
                                <p>Điện máy Quyết Tiến tri ân khách hàng nhân dịp cuối tháng diễn ra chương trình: "Mua ngay máy giặt Samsung online tặng thêm voucher đến 600.000đ" áp dụng từ 28/11 đến 30/11/2018, chi tiết chương trình như sau.  </p><a class="ps-post__morelink" href="#">Xem Thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail">
                            <a class="ps-post__overlay" href="#"></a><img src="~/Front-End/images/blog/picture2.jpg" alt="" style="height: 367px">
                        </div>
                        <div class="ps-post__content">
                            <div class="ps-post__meta">
                                <div class="ps-post__posted"><span class="date">25</span><span class="month">Dec</span></div>

                            </div>
                            <div class="ps-block__container">
                                <h3 class="ps-post__title"><a href="#">Ưu đãi giảm 1.5 triệu khi mua Samsung Galaxy A9</a></h3>
                                <div class="ps-post__byline">By <a href="#">YoBros</a></div>
                                <p>Chương trình ưu đãi dành cho chủ sở hữu điện thoại Samsung chính hãng thuộc các dòng Samsung Galaxy khi mua Samsung Galaxy A9 2018 tại Điện máy Quyết Tiến trên toàn quốc.</p><a class="ps-post__morelink" href="#">Xem Thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail">
                            <a class="ps-post__overlay" href="#"></a><img src="~/Front-End/images/blog/picture3.png" alt="">
                        </div>
                        <div class="ps-post__content">
                            <div class="ps-post__meta">
                                <div class="ps-post__posted"><span class="date">25</span><span class="month">Dec</span></div>

                            </div>
                            <div class="ps-block__container">
                                <h3 class="ps-post__title"><a href="#">CỰC HOT - Đặt trước tivi Android 8.0 4K đầu tiên tại Việt Nam</a></h3>
                                <div class="ps-post__byline">By <a href="#">YoBros</a></div>
                                <p>Để mùa mua sắm cuối năm thêm hoành tráng. Điện máy Quyết Tiến tung ra 150 suất đặt trước 2 model tivi Panasonic, tặng voucher đến 1.5 triệu, nồi chiên không dầu trị giá 1.2 triệu và trả góp 0% từ ngày 25/11 đến 05/12 .</p><a class="ps-post__morelink" href="#">Xem Thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail">
                            <a class="ps-post__overlay" href="#"></a><img src="~/Front-End/images/blog/picture4.jpg" alt="">
                        </div>
                        <div class="ps-post__content">
                            <div class="ps-post__meta">
                                <div class="ps-post__posted"><span class="date">25</span><span class="month">Dec</span></div>

                            </div>
                            <div class="ps-block__container">
                                <h3 class="ps-post__title"><a href="#">Tìm hiểu chương trình đặc quyền bảo hiểm cho Samsung Galaxy A9</a></h3>
                                <div class="ps-post__byline">By <a href="#">YoBros</a></div>
                                <p>Sở hữu bộ 4 camera độc đáo, Galaxy A9 là cái tên nhận được sự quan tâm của rất nhiều khách hàng trong thời điểm hiện tại. Nếu vẫn còn phân vân trước khi chọn mua Galaxy A9, khách hàng sẽ có thêm lý do để sở hữu chiếc smartphone này với quà tặng gói đặc </p><a class="ps-post__morelink" href="#">Xem Thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail">
                            <a class="ps-post__overlay" href="#"></a><img src="~/Front-End/images/blog/picture5.png" alt="">
                        </div>
                        <div class="ps-post__content">
                            <div class="ps-post__meta">
                                <div class="ps-post__posted"><span class="date">25</span><span class="month">Dec</span></div>

                            </div>
                            <div class="ps-block__container">
                                <h3 class="ps-post__title"><a href="#">Black Friday 2018 - Giảm mê say lên đến 49% tại Điện máy Quyết Tiến</a></h3>
                                <div class="ps-post__byline">By <a href="#">YoBros</a></div>
                                <p>Nhằm đáp ứng nhu cầu mua sắm dịp cuối năm, Điện máy Quyết Tiến tưng bừng diễn ra chương trình: "Black Friday 2018 -  Giảm mê say lên đến 49%" từ ngày 21/11 đến 25/11/2018, cùng săn hàng giảm giá ngày Black Friday 2018 Việt Nam, chi tiết như sau. </p><a class="ps-post__morelink" href="#">Xem Thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail">
                            <a class="ps-post__overlay" href="#"></a><img src="~/Front-End/images/blog/picture6.jpg" alt="">
                        </div>
                        <div class="ps-post__content">
                            <div class="ps-post__meta">
                                <div class="ps-post__posted"><span class="date">25</span><span class="month">Dec</span></div>

                            </div>
                            <div class="ps-block__container">
                                <h3 class="ps-post__title"><a href="#">Ưu đãi gói xem phim, cà phê cuối tuần cho khách hàng sở hữu Galaxy A9</a></h3>
                                <div class="ps-post__byline">By <a href="#">YoBros</a></div>
                                <p>Samsung Galaxy A9 với điểm nhấn là bộ 4 camera sau cho trải nghiệm chụp ảnh ấn tượng cùng thiết kế sang trọng đẳng cấp. Khách hàng sẽ có thêm lý do để chọn mua mẫu điện thoại này khi còn được tặng kèm gói ưu đãi xem phim và cà phê cuối tuần.</p><a class="ps-post__morelink" href="blog-detail.html">Xem Thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="ps-pagination">
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </main>



    <footer class="ps-footer site-footer">
        <div class="ps-footer__content">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="ps-site-info site-info">
                            <a class="ps-logo" href="index"><img src="~/Front-End/images/logo.png" alt=""></a>
                            <p><strong>Siêu thị Điện máy Quyết Tiến</strong> khai trương siêu thị đầu tiên tại <em>45 Nguyễn Khắc Nhu, Quận 1, Tp.HCM</em>. Cam kết <strong>bán hàng chính hãng</strong>. Hàng hoá tại Siêu thị <strong>Điện máy Quyết Tiến</strong> vô cùng đa dạng, từ các nhóm hàng lớn như Tivi, Tủ Lạnh, Máy Giặt, Máy Lạnh… đến các nhóm hàng Gia dụng như: Nồi Cơm Điện, Bếp Ga, Bếp Điện Từ… Điện máy Quyết Tiến cũng kinh doanh các mặt hàng như: Điện Thoại, Máy Tính Bảng, Laptop, Phụ Kiện…</p>
                            <div class="ps-site-info__contact">
                                <h4>Thông tin liên hệ</h4>
                                <p>Khoa CNTT của <strong>Trường Đại Học Văn Lang</strong> để biết thêm chi tiết bạn nhé</p>
                            </div>
                            <ul class="ps-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                <div class="widget widget_footer widget_worktime">
                                    <h2 class="widget-title">Thời gian làm việc<span></span></h2>
                                    <p>Thứ 2 - Thứ 6 <br> 08:00 am - 10:00 pm</p><p> ==== </p>
                                    <p>Thứ 7 - Chủ Nhật <br> 7:00 am - 9:00 pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-footer__copyright">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ">
                        <p><a href="http://www.vanlanguni.edu.vn/">Trường Đại Học Văn Lang University</a></p>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                        <div class="ps-footer__payment-methods">
                            <a href="#"><img src="~/Front-End/images/payment-method/paypal.png" alt=""></a>
                            <a href="#"><img src="~/Front-End/images/payment-method/visa.png" alt=""></a>
                            <a href="#"><img src="~/Front-End/images/payment-method/master-card.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="ps-loading">
        <div class="loader ">
            <div class="loader__item"></div>
            <div class="loader__item"></div>
            <div class="loader__item"></div>
            <div class="loader__item"></div>
            <div class="loader__item"></div>
        </div>
    </div>
    <script src="~/Front-End/plugins/jquery.min.js"></script>
    <script src="~/Front-End/plugins/lightGallery-master/dist/js/lightgallery-all.min.js"></script>
    <script src="~/Front-End/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Front-End/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Front-End/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Front-End/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script src="~/Front-End/plugins/imagesloaded.pkgd.js"></script>
    <script src="~/Front-End/plugins/masonry.pkgd.min.js"></script>
    <script src="~/Front-End/plugins/isotope.pkgd.min.js"></script>
    <script src="~/Front-End/plugins/slick/slick/slick.min.js"></script>
    <script src="~/Front-End/plugins/jquery.matchHeight-min.js"></script>
    <script src="~/Front-End/plugins/elevatezoom/jquery.elevatezoom.js"></script>
    <script src="~/Front-End/plugins/gmap3.min.js"></script>
    <script src="~/Front-End/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Custom scripts-->
    <script src="~/Front-End/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOAVbTzBLcOkZOXAIBNs-8EDzqXZoOVa0&amp;region=GB"></script>
</body>

</html>